{% extends 'StefBVAdminBundle::form.html.twig' %}
{% set pagetitle = 'BV Website Backoffice' %}

{% block form %}
    <p>Welkom bij de BV Backoffice omgeving. Dit eenvoudige maar doeltreffende CMS is het hart van de website. In de balk hierboven kan je navigeren door het CMS. Maar let wel op, doe geen dingen waar jij (of de almachtige ICT club) spijt van gaan krijgen. Voorlopig niet al teveel wennen aan heel veel vrijheid, binnenkort worden de rechten van een gebruiker aangepast aan zijn taak binnen de website.</p>
{% endblock %}