<p>Op onze website staan waarschijnlijk heel veel termen die wij gebruiken maar niet voor iedereen duidelijk zijn. Daarom hebben wij een online woordenboek om
zoveel mogelijk begrippen duidelijker te maken. Sommige termen hebben betrekking op de landelijke organisatie van Scouting Nederland, andere termen specifiek op onze eigen groep. Als er een term mist of deze na de uitleg nog steeds niet duidelijk, geef het dan aan ons door. Wij zullen de teksten dan herzien zodat het nog duidelijker wordt!</p>
