{% extends 'StefBVBundle::layout.html.twig' %}

{% block body %}
    <div id="main-wrapper">
        <div id="main" class="container">
            <section class="box features bvpage">
                <h1>{{ news.title }}</h1>
                {{ news.body|raw }}
            </section>
		</div>
    </div>
{% endblock %}