<footer id="footer" class="bodyfix">
    <div class="container">
        <div class="footerbox">
            <div class="row 200%">
                
                   <div class="4u">
                    <h2>Social media</h2>
                    <ul>
                        <li><a rel="nofollow" class="icon fa-facebook" href="https://www.facebook.com/brigittavalentijn">Facebook</a></li>
                        <li><a rel="nofollow" class="icon fa-twitter" href="https://twitter.com/scoutingbv">Twitter</a></li>
                        <li><a rel="nofollow" class="icon fa-google-plus" href="https://plus.google.com/108315085206409997336/about">Google Plus</a></li>
                    </ul>
                </div>
                
                <div class="4u">
                    <h2>Hoofdlocatie</h2>
                        <address>
                            Scouting Brigitta / Valentijn<br>
                            Wijndaelerweg 12<br>
                            2565XB Den Haag<br>
                            <a href="http://brigittavalentijn.nl/over-ons/adres">Onze locaties</a>
                        </address>
                </div>
        
                <div class="4u">
                    <h2>Snelkoppeling</h2>
                    <ul>
                        <li><a href="http://brigittavalentijn.nl/over-ons/speltakken">Speltakken</a></li>
                        <li><a href="http://brigittavalentijn.nl/begrippenlijst">Begrippenlijst</a></li>
                        <li><a href="http://brigittavalentijn.nl/activiteiten-2015" title="Aankomende activiteiten 2015">Aankomende activiteiten</a></li>
                        <li><a href="http://brigittavalentijn.nl/filmtheater">Filmtheater</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="copyright">
        <ul class="menu">
            <li>© Scoutinggroep Brigitta / Valentijn</li>
            <li>Bestuurstelefoon: 06 - 19791537</li>
            <li><a href="http://stefanius.nl/">Stefanius Webdeveloper</a></li>
        </ul>
    </div>


</footer>

{% include 'StefSimpleCmsBundle:GoogleAnalytics:template.html.twig' %}