<footer id="footer" class="container">
    <div class="row 200%">
        <div class="12u">

            <!-- Contact -->
            <section>
                <h2 class="major"><span>vind ons op social media</span></h2>
                <ul class="contact">
                    <li><a class="icon fa-facebook" href="https://www.facebook.com/brigittavalentijn"><span class="label">Facebook</span></a></li>
                    <li><a class="icon fa-twitter" href="https://twitter.com/scoutingbv"><span class="label">Twitter</span></a></li>
                </ul>
            </section>

        </div>
    </div>

    <!-- Copyright -->
    <div id="copyright">
        <ul class="menu">
            <li>© Brigitta / Valentijn</li><li>Gehost en onderhouden door: <a href="http://stefanius.nl/">Stefanius</a></li>
        </ul>
    </div>

</footer>