<footer id="footer" class="bodyfix">
    <div class="container">
        <div class="footerbox">
            <div class="row 200%">
                
                   <div class="4u">
                    <h2>Contact</h2>
                    <ul>
                        <li><a href="tel:0619791537" class="icon fa-phone-alt" rel="nofollow">06 197 915 37</a></li>
                        <li><a mailto:pr@brigittavalentijn.nl" rel="nofollow">Vragen? Mail ons</a></li>
                        <li><a rel="nofollow" class="icon fa-facebook" href="https://www.facebook.com/brigittavalentijn"><span class="label">Facebook</span>Facebook</a></li>
                        <li><a rel="nofollow" class="icon fa-twitter" href="https://twitter.com/scoutingbv"><span class="label">Twitter</span>Twitter</a></li>
                        <li><a rel="nofollow" class="icon fa-google-plus" href="https://plus.google.com/108315085206409997336/about"><span class="label">Twitter</span>Google Plus</a></li>
                    </ul>
                </div>
                
                <div class="4u">
                    <h2>Hoofdlocatie</h2>
                        <address>
                                                        Brigitta Valentijn<br>
                                                        Wijndaelerweg 12<br>
                                                        2565XB Den Haag
                        </address>
                </div>
        
                <div class="4u">
                    <h2>Sitemap</h2>
                    <ul>
                        <li><a href="http://brigittavalentijn.nl/over-ons/speltakken">Speltakken</a></li>
                        <li><a href="http://brigittavalentijn.nl/begrippenlijst">Begrippenlijst</a></li>
                        <li><a href="http://brigittavalentijn.nl/activiteiten-2015" title="Aankomende activiteiten 2015">Aankomende activiteiten</a></li>
                        <li><a href="http://brigittavalentijn.nl/filmtheater">Filmtheater</a></li>
                        <li><a href="http://brigittavalentijn.nl/over-ons/adres">Onze locaties</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="copyright">
        <ul class="menu">
            <li>© Scoutinggroep Brigitta / Valentijn</li>
            <li>Gehost en onderhouden door: <a href="http://stefanius.nl/">Stefanius</a></li>
            <li>
                <a class="icon fa-twitter" href="https://twitter.com/scoutingbv"><span class="label">Twitter</span></a>
                <a class="icon fa-google-plus" href="https://plus.google.com/108315085206409997336/about"><span class="label">Twitter</span></a>
                <a class="icon fa-linkedin" href="https://www.linkedin.com/pub/scouting-brigitta-valentijn/a6/536/281/en"><span class="label">Twitter</span></a>
            </li>
        </ul>
    </div>


</footer>

{% include 'StefSimpleCmsBundle:GoogleAnalytics:template.html.twig' %}