<footer id="footer" class="container">

    <div class="row 200%">

        <div class="3u">
            <h2>Speltakken</h2>
            <ul>
                <li><a href="http://brigittavalentijn.nl/over-ons/speltakken/bevers">Bevers</a></li>
                <li><a href="http://brigittavalentijn.nl/over-ons/speltakken/estas">Esta's</a></li>
                <li><a href="http://brigittavalentijn.nl/over-ons/speltakken/mercators">Mercators</a></li>
                <li><a href="http://brigittavalentijn.nl/over-ons/speltakken/explorers">Explorers</a></li>
                <li><a href="http://brigittavalentijn.nl/over-ons/speltakken/stam">Stam</a></li>
            </ul>
        </div>

        <div class="3u">
            <h2>Over ons</h2>
            <ul>
                <li><a href="http://brigittavalentijn.nl/over-ons/speltakken">Speltakken</a></li>
                <li><a href="http://brigittavalentijn.nl/begrippenlijst">Begrippenlijst</a></li>
                <li><a href="http://brigittavalentijn.nl/activiteiten-2015">Aankomende activiteiten</a></li>
                <li><a href="http://brigittavalentijn.nl/filmtheater">Filmtheater</a></li>
                <li><a href="http://brigittavalentijn.nl/over-ons/adres">Onze locaties</a></li>
            </ul>
        </div>

    </div>

    <div id="copyright">
        <ul class="menu">
            <li>© Brigitta / Valentijn</li>
            <li>Gehost en onderhouden door: <a href="http://stefanius.nl/">Stefanius</a></li>
            <li>
                <a class="icon fa-facebook" href="https://www.facebook.com/brigittavalentijn"><span class="label">Facebook</span></a>
                <a class="icon fa-twitter" href="https://twitter.com/scoutingbv"><span class="label">Twitter</span></a>
                <a class="icon fa-google-plus" href="https://plus.google.com/108315085206409997336/about"><span class="label">Twitter</span></a>
                <a class="icon fa-linkedin" href="https://www.linkedin.com/pub/scouting-brigitta-valentijn/a6/536/281/en"><span class="label">Twitter</span></a>
            </li>
        </ul>
    </div>


</footer>