<header id="header">
    <div class="container">
        <h1>Scoutinggroep Brigitta / Valentijn</h1>
        <span style="font-size: 0.4em;">Onze website is op dit moment nog in ontwikkeling. Kom binnenkort nog eens terug voor het eindresultaat! De belangrijkste informatie is uiteraard nog gewoon beschikbaar.</span>
    </div>
</header>