<section class="box highlight">
    <ul class="special">

        <li>
            <a href="http://brigittavalentijn.nl/fotoalbum" class="icon fa-camera-retro">
                <span class="text-content" style="top: 3em;left: -2.3em;">
                    Foto's
                </span>
            </a>
        </li>

        <li>
            <a href="http://brigittavalentijn.nl/over-ons" class="icon fa-info">
                <span class="text-content" style="top: 3em;left: -2.3em;">
                    De Vereniging
                </span>
            </a>
        </li>

        <li>
            <a href="http://brigittavalentijn.nl/over-ons/speltakken" class="icon fa-child">
                <span class="text-content" style="top: 3em;left: -2.3em;">
                    Speltakken
                </span>
            </a>
        </li>

        <li>
            <a href="http://brigittavalentijn.nl/over-ons/adres" class="icon fa-university">
                <span class="text-content" style="top: 3em;left: -2.3em;">
                    Locatie
                </span>
            </a>
        </li>
    </ul>
</section>