<section class="box highlight">
    <ul class="special">
        <li><a href="/" class="icon fa-cogs"><span class="label">Magnifier</span></a></li>
        <li><a href="/" class="icon fa-cogs"><span class="label">Magnifier</span></a></li>
        <li><a href="/" class="icon fa-cogs"><span class="label">Magnifier</span></a></li>
        <li><a href="/" class="icon fa-cogs"><span class="label">Magnifier</span></a></li>
    </ul>
</section>