<section class="box highlight">
    <ul class="special">
        <li><a href="http://brigittavalentijn.nl/over-ons" class="icon fa-trophy"><span class="label">De Vereniging</a></li>
        <li><a href="http://brigittavalentijn.nl/over-ons/speltakken" class="icon fa-child"><span class="label">Speltakken</span></a></li>
        <li><a href="http://brigittavalentijn.nl/fotoalbum" class="icon fa-camera-retro"><span class="label">Foto's</span></a></li>
        <li><a href="http://brigittavalentijn.nl/over-ons/adres" class="icon fa-university"><span class="label">Locatie</span></a></li>
    </ul>
</section>