<section class="box highlight">
    <ul class="special">
        <li><a href="http://brigittavalentijn.nl/over-ons" class="icon fa-trophy"><span class="label">De Vereniging</span><span class="text-content"><span>De Vereniging</span></span></a></li>
        <li><a href="http://brigittavalentijn.nl/over-ons/speltakken" class="icon fa-child"><span class="label">Speltakken</span><span class="text-content"><span>Speltakken</span></span></a></li>
        <li><a href="http://brigittavalentijn.nl/fotoalbum" class="icon fa-camera-retro"><span class="label">Foto's</span><span class="text-content"><span>Foto's</span></span></a></li>
        <li><a href="http://brigittavalentijn.nl/over-ons/adres" class="icon fa-university"><span class="label">Locatie</span><span class="text-content"><span>Locatie</span></span></a></li>
    </ul>
</section>