<!DOCTYPE html>
<html lang="en">
<head>
    <title>Starter Template for Bootstrap</title>
    {% include 'StefQuickCmsBundle::TwitterBootstrapLayouts/base.meta.html.twig' %}
    <link href="{{ asset('css/bootstrap/starter-template.css') }}" rel="stylesheet" media="screen">
</head>

<body>

{% include 'StefQuickCmsBundle:TwitterBootstrapElements:headmenu.html.twig' %}

<div class="container">

    <div class="starter-template">
        <h1>Bootstrap starter template</h1>
        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
    </div>

</div>

{% include 'StefQuickCmsBundle::TwitterBootstrapLayouts/base.js.html.twig' %}
</body>
</html>
