.bodyfix {
	position: relative; 
	left: 0px; 
	right: 0px; 
	top: 0px; 
	backface-visibility: hidden; 
	transition: -webkit-transform 0.25s ease-in-out; -webkit-transition: -webkit-transform 0.25s ease-in-out;
}

.left {
	float: left;
}

.center {
	float: center;
}

.right {
	float: right;
}

.bv-slider {
  height: 337px;
  max-height: 337px;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.bv-slider img{
    width: 100%;
    height: 100%;	
}

.logo {
    max-width: 9em;
    width: 9em;
    height: 3.01em;
    max-height: 3.01em;
}

.news-feature-cropped {
    position: relative;
    width: 263px;
    height: 167px;
    overflow: hidden;
    border: 1px #0d365c solid;
}

.alphabet {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
}

.alphabet ul {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
}

.alphabet ul, .alphabet li, .alphabet ul li{
    display: inline-block;
}