.bodyfix {
    position: relative;
    left: 0px;
    right: 0px;
    top: 0px;
    backface-visibility: hidden;
    transition: -webkit-transform 0.25s ease-in-out; -webkit-transition: -webkit-transform 0.25s ease-in-out;
}
.footerbox {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}
.left {
    float: left;
}

.center {
    float: center;
}

.right {
    float: right;
}

.bv-slider {
    position:relative;
    margin-left: auto !important;
    margin-right: auto !important;
    -webkit-box-shadow: -10px 0px 10px 0px #888888, 7px 0px 10px 0px #888888;
    -moz-box-shadow: -10px 0px 10px 0px #888888, 7px 0px 10px 0px #888888;
    box-shadow: 10px 0px 10px -7px #888888, -10px 0px 10px -7px #888888;
    background: #fff;
    height: 337px;
    max-width: 1200px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.bv-slider img{
    width: 100%;
    height: 337PX;
}

.logo {
    max-width: 9em;
    width: 9em;
    height: 3.01em;
    max-height: 3.01em;
    margin: 3px;
}

.news-feature-cropped {
    position: relative;
    width: 90%;
    height: 240px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.news-foto img{
    margin: -1px;
    padding: -1px;
    width:20%;
    height: auto;
}

.alphabet {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
}

.alphabet ul {
    background-color: #D7EBFF;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
}

.alphabet ul, .alphabet li, .alphabet ul li{
    display: inline-block;
}
.agenda{
    margin-left: auto;
    margin-right: auto;
    width: 900px;
}

.bvpage h1 {
    font-size: 2em;
    padding: 0;
}

.bvpage h2 {
    font-size: 1.5em;
    padding: 0;
}

.bvpage h3 {
    font-size: 1em;
    padding: 0;
}

.bvpage h4 {
    font-size: 1em;
    padding: 0;
}

.bvpage h5 {
    font-size: 1em;
    padding: 0;
}

.bvpage h6 {
    font-size: 1em;
    padding: 0;
}