<div class="12u">
	<section class="box blog">
		<div>
			<div class="row">
				{% for news in archive %}
				{% include 'StefBVBundle:NewsBlocks:newsitem.html.twig' %}
				{% endfor %}
		`		<div class="3u">
					<div class="sidebar">
						<ul class="divided">
							{% for news in newsitems %}
								<li><a href="{{ path('stef_bvbundle_news_show', { 'slug': news.slug }) }}">{{ news.title|e }}</a></li>
							{% endfor %}
						</ul>
						<a href="/nieuws" class="button alt">Meer nieuws</a>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>