<div class="row" style="padding-left: 1em;">
    <div class="9u">
        {% for news in newsitems %}
            {% include 'StefBVBundle:NewsBlocks:newsitem.html.twig' %}
        {% endfor %}
    </div>
    <div class="3u">
        <div class="sidebar">
            <header><h3 style="text-align: left;"><a href="/nieuws">Meer nieuws</a></h3></header>
            <ul class="divided">
                {% for news in archive %}
                    <li style="padding-left: 1em; padding-bottom: 0.3em;"><a href="{{ path('stef_bvbundle_news_show', { 'slug': news.slug }) }}">{{ news.title|e }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
