#onderstaande rewrites alleen op basis van live envirement!

#nieuwsarchief 2012
rewrite ^/nieuws/2012/*/archief.html /nieuws/archief/2012 permanent;
rewrite ^/nieuws/2012/01/archief.html /nieuws/archief/2012 permanent;
rewrite ^/nieuws/2012/02/archief.html /nieuws/archief/2012 permanent;
rewrite ^/nieuws/2012/03/archief.html /nieuws/archief/2012 permanent;
rewrite ^/nieuws/2012/04/archief.html /nieuws/archief/2012 permanent;
rewrite ^/nieuws/2012/05/archief.html /nieuws/archief/2012 permanent;
rewrite ^/nieuws/2012/06/archief.html /nieuws/archief/2012 permanent;
rewrite ^/nieuws/2012/07/archief.html /nieuws/archief/2012 permanent;
rewrite ^/nieuws/2012/08/archief.html /nieuws/archief/2012 permanent;
rewrite ^/nieuws/2012/09/archief.html /nieuws/archief/2012 permanent;
rewrite ^/nieuws/2012/10/archief.html /nieuws/archief/2012 permanent;
rewrite ^/nieuws/2012/11/archief.html /nieuws/archief/2012 permanent;
rewrite ^/nieuws/2012/12/archief.html /nieuws/archief/2012 permanent;

#nieuwsarchief 2013
rewrite ^/nieuws/2013/*/archief.html /nieuws/archief/2013 permanent;
rewrite ^/nieuws/2013/01/archief.html /nieuws/archief/2013 permanent;
rewrite ^/nieuws/2013/02/archief.html /nieuws/archief/2013 permanent;
rewrite ^/nieuws/2013/03/archief.html /nieuws/archief/2013 permanent;
rewrite ^/nieuws/2013/04/archief.html /nieuws/archief/2013 permanent;
rewrite ^/nieuws/2013/05/archief.html /nieuws/archief/2013 permanent;
rewrite ^/nieuws/2013/06/archief.html /nieuws/archief/2013 permanent;
rewrite ^/nieuws/2013/07/archief.html /nieuws/archief/2013 permanent;
rewrite ^/nieuws/2013/08/archief.html /nieuws/archief/2013 permanent;
rewrite ^/nieuws/2013/09/archief.html /nieuws/archief/2013 permanent;
rewrite ^/nieuws/2013/10/archief.html /nieuws/archief/2013 permanent;
rewrite ^/nieuws/2013/11/archief.html /nieuws/archief/2013 permanent;
rewrite ^/nieuws/2013/12/archief.html /nieuws/archief/2013 permanent;

#nieuwsarchief 2014
rewrite ^/nieuws/2014/*/archief.html /nieuws/archief/2014 permanent;
rewrite ^/nieuws/2014/01/archief.html /nieuws/archief/2014 permanent;
rewrite ^/nieuws/2014/02/archief.html /nieuws/archief/2014 permanent;
rewrite ^/nieuws/2014/03/archief.html /nieuws/archief/2014 permanent;
rewrite ^/nieuws/2014/04/archief.html /nieuws/archief/2014 permanent;
rewrite ^/nieuws/2014/05/archief.html /nieuws/archief/2014 permanent;
rewrite ^/nieuws/2014/06/archief.html /nieuws/archief/2014 permanent;
rewrite ^/nieuws/2014/07/archief.html /nieuws/archief/2014 permanent;
rewrite ^/nieuws/2014/08/archief.html /nieuws/archief/2014 permanent;
rewrite ^/nieuws/2014/09/archief.html /nieuws/archief/2014 permanent;
rewrite ^/nieuws/2014/10/archief.html /nieuws/archief/2014 permanent;
rewrite ^/nieuws/2014/11/archief.html /nieuws/archief/2014 permanent;
rewrite ^/nieuws/2014/12/archief.html /nieuws/archief/2014 permanent;

#nieuwsarchief 2015
rewrite ^/nieuws/2015/*/archief.html /nieuws/archief/2015 permanent;
rewrite ^/nieuws/2015/01/archief.html /nieuws/archief/2015 permanent;
rewrite ^/nieuws/2015/02/archief.html /nieuws/archief/2015 permanent;
rewrite ^/nieuws/2015/03/archief.html /nieuws/archief/2015 permanent;
rewrite ^/nieuws/2015/04/archief.html /nieuws/archief/2015 permanent;
rewrite ^/nieuws/2015/05/archief.html /nieuws/archief/2015 permanent;
rewrite ^/nieuws/2015/06/archief.html /nieuws/archief/2015 permanent;
rewrite ^/nieuws/2015/07/archief.html /nieuws/archief/2015 permanent;
rewrite ^/nieuws/2015/09/archief.html /nieuws/archief/2015 permanent;
rewrite ^/nieuws/2015/10/archief.html /nieuws/archief/2015 permanent;
rewrite ^/nieuws/2015/11/archief.html /nieuws/archief/2015 permanent;
rewrite ^/nieuws/2015/12/archief.html /nieuws/archief/2015 permanent;

#Nieuwsberichten 2012
rewrite ^/nieuws/1.html /nieuws/overvliegen-2012 permanent;
rewrite ^/nieuws/4.html /nieuws/nieuwe-website-2012 permanent;

#Nieuwsberichten 2013
rewrite ^/nieuws/9.html /nieuws/playbackshow-2013 permanent;
rewrite ^/nieuws/10.html /nieuws/huisvesting-2013 permanent;
rewrite ^/nieuws/11.html /nieuws/grandioze-pleebeksjow-2013 permanent;

#Nieuwsberichten
rewrite ^/nieuws/39.html /nieuws/nl-doet-de-kampkistenklus-2014 permanent;
