<div class="bv-slider">
    <div class="slick-slide">
        <img src="{{ asset('images/bv-logo-1.png') }}" alt="Brigitta Valentijn Logo">
        <center><strong>Onze website is nog flink in ontwikkeling.</strong></center>
    </div>
    <div class="slick-slide">
        <img src="{{ asset('images/banner.jpg') }}" alt="Brigitta Valentijn Logo">
        <center><strong>Maar we zijn er bijna!</strong></center>
    </div>
    <div class="slick-slide">
        <img src="{{ asset('images/bv-logo-1.png') }}" alt="Brigitta Valentijn Logo">
        <center><strong>Zoals je kan zien hebben we kans gezien om een sneak-preview aan te bieden</strong></center>
    </div>
    <div class="slick-slide">
        <img src="{{ asset('images/banner.jpg') }}" alt="Brigitta Valentijn Logo">
        <center><strong>De rest zal spoedig volgen!</strong></center>
    </div>
</div>