<!DOCTYPE html>
<html class="global desktop">

    {% include 'StefBVBundle:HeadSection:head.html.twig' %}

    <body class="homepage">
        <div id="skel-layers-wrapper" class="bodyfix">
            {% block head %}
                {% include 'StefBVBundle:Blocks:index.header.html.twig' %}
            {% endblock %}

            {% block navbar %}
                {% include 'StefBVBundle:Blocks:navbar.html.twig' %}
            {% endblock %}

            {% block body %}
                <h1>Body Content Placeholder</h1>
            {% endblock %}

            {% include 'StefBVBundle:Blocks:footer.html.twig' %}
        </div>
    </body>
</html>