{% extends 'StefBVAdminBundle::layout.base.html.twig' %}

{% block title %} {{ pagetitle }} {% endblock %}

{% block body %}
    {{ parent() }}

    <div class="row">

        <div class="col-md-2">
            {% block leftontent %}
                left
            {% endblock %}
        </div>

        <div class="col-md-8">
            <h1>{{ pagetitle }}</h1>
            {% block form %}
                left
            {% endblock %}
        </div>

        <div class="col-md-2">
            {% block rightcontent %}
                left
            {% endblock %}
        </div>

    </div>
{% endblock %}