{% extends 'StefBVBundle::layout.html.twig' %}

{% block head %}
    {% include 'StefBVBundle:Blocks:index.header.html.twig' %}
{% endblock %}

{% block body %}
    {% include 'StefBVBundle:Carousel:index.html.twig' %}

    <div id="main-wrapper">
        <div id="main" class="container">

            <section class="box features">
                <h2 class="major" style="margin: 0;"><span>Scoutinggroep Brigitta / Valentijn</span></h2>
                <span>
                    Welkom bij <strong>Scoutinggroep Brigitta / Valentijn</strong>. Wij zijn zeker niet de enige groep in <strong>Den Haag</strong>, maar volgens onze leden wel de allerleukste. Bij ons is er maar 1 ding echt belangrijk: Een leuke tijd doorbrengen met elkaar. Wij zeggen niet voor niets <strong>Samen doen = Samen lol</strong>. En als je denkt dat scouting alleen om het uniform gaat, dan heb je het mis. Wij zijn jong, fris, leuk en een <strong><a href="http://brigittavalentijn.nl/over-ons/lidmaatschap-en-uniform" title="Scoutinggroep zonder uniform">scouting zonder uniform</a></strong>!
                </span>
            </section>

            <div class="row">
                <div class="12u">
                    {% include 'StefBVBundle:Blocks:index.highlight.html.twig' %}
                </div>
            </div>

            <section class="box features">
                <h2 class="major"><span>Nieuws</span></h2>
                {% include 'StefBVBundle:NewsBlocks:latest.html.twig' with newsitems %}
            </section>

            <section class="box features">
                <h2 class="major" style="margin: 0;"><span>Wat wij doen</span></h2>
                <span>
                    De kop had beter kunnen zijn: <strong>Wat doen wij niet?</strong>. Naast onze wekelijkse opkomsten en een aantal bijzondere <a href="http://brigittavalentijn.nl/over-ons/activiteiten">activiteiten</a> is het absolute hoogtepunt het jaarlijkse <a href="http://brigittavalentijn.nl/begrippenlijst/zomerkamp">zomerkamp</a>. Afhankelijk van je leeftijd ga je dan logeren in een fraaie blokhut of stoer kamperen.
                    Woon jij in <strong>Den Haag</strong>? Of in de buurt van <strong>Monster</strong> of Kijkduin? Kom dan eens een keertje bij ons langs. En wie weet, als je je bij ons <a href="http://brigittavalentijn.nl/over-ons/lidmaatschap-bij-brigitta-valentijn">inschrijft</a>, dan zien we je graag bij <a href="http://brigittavalentijn.nl/begrippenlijst/ggw">GGW</a>, Zomerkamp en de <a href="http://brigittavalentijn.nl/begrippenlijst/boerenkooltocht">Boerenkooltocht</a>!
                </span>
            </section>


        </div>
    </div>

    <script type="text/javascript" src="{{ asset('libs/slick-1.3.15/slick/slick.min.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('.bv-slider').slick({
                arrows: false,
                dots: false,
                infinite: true,
                speed: 500,
                fade: true,
                slide: 'div',
                cssEase: 'linear',
                slidesToShow: 1,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 2000
            });
        });
    </script>
{% endblock %}