{% extends 'StefBVBundle::layout.html.twig' %}

{% block title %}Contact{% endblock%}

{% block body %}
    <header>
        <h1>Contact symblog</h1>
    </header>

    <ul>
        {% for page in pages %}
            <li><a href="{{ path('stef_bvadminbundle_edit_page', { 'id': page.id }) }}">{{ page.title|e }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}