{% if carouselItems is defined %}
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            {% for key, car in carouselItems %}
                <li data-target="#myCarousel" data-slide-to="{{ key }}" class="{{ car.active }}"></li>
            {% endfor %}

        </ol>
        <div class="carousel-inner">
            {% for car in carouselItems %}
                {% include 'StefBVBundle:Blocks:carousel.item.html.twig' with {car : car} %}
            {% endfor %}

        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
{% endif %}